// Shared Styles ====================================================================
@import "./variables";

@mixin no-bottom-border {
  // border-bottom-width: 0;
  // box-shadow: 0 1px $shadow-medium;
}

@mixin nav-no-border {
  border: 0;
}

@mixin nav-soft-shadow {
  // box-shadow: 0 1px 2px $shadow-light;
}

@mixin nav-softer-shadow {
  // box-shadow: 0 2px 3px $shadow-lighter;
}

@mixin active-underline($color) {
  @media (min-width: $screen-md-min) {
    background: $color;
    bottom: 0;
    content: '';
    display: block;
    height: 4px;
    left: 50%;
    margin-left: -50%;
    position: absolute;
    width: 100%;
  }
}

// Buttons ====================================================================

.btn {
  @include transition(.25s background-color);
  position: relative;

  &:not(.btn-link) {
    border: 1px solid transparent;
  }

  &:active {
    &:not(.btn-link) {
      // @include no-bottom-border;

      // box-shadow: inset 0 1px 2px $shadow-light;
      // top: 1px;
    }
  }
}

.btn-group > .btn {
  font-weight: 300;
  border: 1px solid rgba(38,50,56,0.15);
  box-shadow: none;
  max-height: 36px;
  padding: 8px;
}

.btn-group > .active {
  background: #37474F;
  color: #ffffff;
  font-weight: 700;
}

.btn-group {
  .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    right: -1px;
  }
  &:last-child {
    left: -1px;
  }

}

.btn-group-justified {
  .btn {
    // border-right-width: 0;

    &:last-child {
      // border-right-width: 1px;
      left: -1px;
    }
  }
}

// Navbar =================================================================

.navbar {
  @include nav-soft-shadow;
  @include nav-no-border;

  .navbar-nav > li > a {
    font-weight: 300;
    font-size: 20px;
  }
  .navbar-nav > .active > a {
    font-weight: 700;
  }

  &.navbar-default {
    .navbar-nav > .active > a {
      &::after {
        @include active-underline($navbar-default-link-active-color);
      }
    }
  }

  &.navbar-inverse {
    .navbar-nav > .active > a {
      &::after {
        @include active-underline($navbar-inverse-link-active-color);
      }
    }
  }
}

// Dropdowns =================================================================

.dropdown-menu {
  border-radius: 0;
}

.open {
  .dropdown-toggle {
    border-bottom-width: 1px;
  }
}

// Headers =================================================================

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

// Panels =================================================================

.panel {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  border: none;
}

.panel-primary,
.panel-danger,
.panel-warning,
.panel-success,
.panel-info {
  .panel-heading,
  .panel-title {
    font-weight: 400;
    a {
      display: block;
      cursor: pointer;
    }
    a:after {
      font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
      content:"\e259";
      float: right;
    }
    a.collapsed:after {
      content:"\e257";
    }
  }
}


// Breadcrumbs =================================================================

.breadcrumb {
  @include no-bottom-border;
  border-radius: 0;

  .active {
    font-weight: 800;
  }
}

// Pagination =================================================================

.pagination {
  .active > a {
    font-weight: 800;
    position: relative;

    &::after {
      @include active-underline($brand-primary);
    }
  }
}

// Alerts =================================================================
.alert {
  * {
    @include transition(.25s);
  }
}

// Jumbotron =================================================================
.container,
.container-fluid {
  .jumbotron {
    border-radius: 0;
  }
}

// List Groups =================================================================

.list-group {
  .list-group-item {
    @include transition(.25s);
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    border-width: 0 8px 0 0;
    font-weight: 800;
  }
}

// Modals =================================================================

.modal {
  .modal-dialog {
    .modal-content {
      @include nav-soft-shadow;
      border-radius: 0;
    }
  }
}

// Control label ==============================================================

.control-label {
  font-weight: 300;
  font-size: 18px;
}

// Forms =================================================================

.form-control {
  height: 36px;
}
