// Shared Styles ====================================================================

@mixin no-bottom-border {
  border-bottom-width: 0;
  box-shadow: 0 1px $shadow-light;
}

@mixin nav-no-border {
  border: 0;
}

@mixin nav-soft-shadow {
  box-shadow: 0 1px 2px $shadow-lighter;
}

@mixin nav-softer-shadow {
  box-shadow: 0 2px 3px $shadow-lightest;
}

@mixin active-underline($color) {
  background: $color;
  bottom: 0;
  content: '';
  display: block;
  height: 4px;
  left: 50%;
  margin-left: -50%;
  position: absolute;
  width: 100%;
}

// Backgrounds ====================================================================

.bg-faded {
  background-color: darken($body-bg, 4%);
}


// Buttons ====================================================================

.btn {
  @include transition(.25s background-color);
  position: relative;


  &:not(.btn-link) {
    @include no-bottom-border;
  }

  &:active {
    &:not(.btn-link) {
      @include no-bottom-border;

      box-shadow: inset 0 1px 2px $shadow-lighter;
      top: 1px;
    }
  }
}

.btn-group-justified {

  .btn {
    border-right-width: 0;

    &:last-child {
      border-right-width: 1px;
    }
  }
}

// Navbar =================================================================

.navbar {

  &.navbar-default {
    @include no-bottom-border;
    background: $white;

    .navbar-nav .active > .nav-link {
      font-weight: 800;
      text-decoration: underline;
    }
  }

  &.navbar-secondary {
    @include nav-soft-shadow;
    @include nav-no-border;

    .nav-link {
      position: relative;
    }

    .navbar-nav .active > .nav-link {
      font-weight: 800;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-bottom: 0;

    .nav-link {
      padding: $spacer-y $spacer-x;
    }

    .navbar-nav .active > .nav-link {
      &::before {
        @include active-underline($black);
      }
    }
  }
}

// Badges =================================================================

.badge-inverse {
  @include badge-variant($white);
  color: $body-color;
}

// Dropdown menu arrow =================================================================

@include media-breakpoint-up(lg) {
  .dropdown-menu-arrow {
    left: 50%;
    transform: translate(-50%, 0);

    &::before {
      border-width: $popover-arrow-outer-width;
      content: '';
    }

    &::after {
      border-width: $popover-arrow-width;
      content: '';
    }

    &::before,
    &::after {
      border-color: transparent;
      border-style: solid;
      border-top-width: 0;
      display: block;
      height: 0;
      left: 50%;
      position: absolute;
      width: 0;
    }

    &::before {
      border-bottom-color: $popover-arrow-outer-color;
      margin-left: -$popover-arrow-outer-width;
      top: -$popover-arrow-outer-width;
    }

    &::after {
      border-bottom-color: $popover-title-bg;
      margin-left: -$popover-arrow-width;
      top: -($popover-arrow-outer-width - 1);
    }
  }
}

// Headers =================================================================

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

// Cards =================================================================

.card {
  @include no-bottom-border;
}

.card-default {

  .card-heading,
  .card-footer {
    color: $gray-light;
    font-weight: 300;
  }
}

// Breadcrumbs =================================================================

.breadcrumb {
  @include no-bottom-border;
  border-radius: 0;

  .active {
    font-weight: 800;
  }
}

// Pagination =================================================================

.pagination > .page-item {
  &.active {
    font-weight: 800;
    position: relative;

    &::after {
      @include active-underline($brand-primary);
    }
  }
}


// Alerts =================================================================
.alert {
  @include no-bottom-border;
  text-align: center;

  * {
    @include transition(.25s);
  }

  .close {
    color: $black;
  }

  .alert-link {
    color: $black;
    opacity: .5;

    &:hover {
      opacity: .75;
    }
  }
}


// Jumbotron =================================================================
.container,
.container-fluid {

  .jumbotron {
    @include no-bottom-border;
    border-radius: 0;
  }
}


// List Groups =================================================================

.list-group {
  .list-group-item {
    @include transition(.25s);
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    border-width: 0 8px 0 0;
    font-weight: 800;
  }
}

// Modals =================================================================

.modal {

  .modal-dialog {

    .modal-content {
      @include nav-soft-shadow;
      border-radius: 0;
    }
  }
}
