@import './variables';
@import 'bootstrap';
@import 'bourbon';

// Shared Styles ====================================================================

@mixin no-bottom-border {
  border-bottom-width: 0;
  box-shadow: 0 1px $shadow-medium;
}

@mixin nav-no-border {
  border: 0;
}

@mixin nav-soft-shadow {
  box-shadow: 0 1px 2px $shadow-light;
}

@mixin nav-softer-shadow {
  box-shadow: 0 2px 3px $shadow-lighter;
}

@mixin active-underline($color) {
  background: $color;
  bottom: 0;
  content: '';
  display: block;
  height: 4px;
  left: 50%;
  margin-left: -50%;
  position: absolute;
  width: 100%;
}

// Buttons ====================================================================

.btn {
  @include transition(.25s background-color);
  position: relative;


  &:not(.btn-link) {
    @include no-bottom-border;
  }

  &:active {
    &:not(.btn-link) {
      @include no-bottom-border;

      box-shadow: inset 0 1px 2px $shadow-light;
      top: 1px;
    }
  }
}

.btn-group-justified {

  .btn {
    border-right-width: 0;

    &:last-child {
      border-right-width: 1px;
    }
  }
}

// Navbar =================================================================

.navbar {

  &.navbar-default {
    @include no-bottom-border;

    .navbar-nav > .active  > a {
      font-weight: 800;
      text-decoration: underline;
    }
  }

  &.navbar-inverse {
    @include nav-soft-shadow;
    @include nav-no-border;

    .navbar-nav > li > a {
      display: block;
      margin: auto;
      position: relative;
      text-align: center;
    }

    .navbar-nav > .active > a {
      font-weight: 800;

      &::after {
        @include active-underline($gray-base);
      }
    }
  }
}

// Dropdowns =================================================================

.dropdown-menu {
  border-radius: 0;
}

.open {
  .dropdown-toggle {
    border-bottom-width: 1px;
  }
}

// Headers =================================================================

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

// Panels =================================================================

.panel {
  @include no-bottom-border;
}

.panel-default {

  .panel-heading,
  .panel-footer {
    color: $gray;
    font-weight: 300;
  }
}

// Breadcrumbs =================================================================

.breadcrumb {
  @include no-bottom-border;
  border-radius: 0;

  .active {
    font-weight: 800;
  }
}

// Pagination =================================================================

.pagination {
  .active > a {
    font-weight: 800;
    position: relative;

    &::after {
      @include active-underline($brand-primary);
    }
  }
}

// Alerts =================================================================
.alert {
  @include no-bottom-border;
  text-align: center;

  * {
    @include transition(.25s);
  }

  .close {
    color: $gray-base;
  }

  .alert-link {
    color: $gray-base;
    opacity: .5;

    &:hover {
      opacity: .75;
    }
  }
}


// Jumbotron =================================================================
.container,
.container-fluid {

  .jumbotron {
    @include no-bottom-border;
    border-radius: 0;
  }
}


// List Groups =================================================================

.list-group {
  .list-group-item {
    @include transition(.25s);
  }

  .active {
    font-weight: 800;
    border-width: 0 8px 0 0;
  }
}

