@import './variables';
@import 'bootstrap';

// Shared Styles ====================================================================

@mixin no-bottom-border {
  border-bottom: 0;
  box-shadow: 0 1px $gray-light;
}

// Buttons ====================================================================

.btn {
  &:not(.btn-link) {
    @include no-bottom-border;

    position: relative;
  }

  &:active {
    &:not(.btn-link) {
      @include no-bottom-border;

      box-shadow: inset 0 1px 2px $gray-dark;
      top: 1px;
    }
  }
}

// Tables =================================================================

// .table {
//   th {
//     font-size: $font-size-large;
//   }

//   td {
//     font-size: $font-size-large;
//   }
// }

// Navbar =================================================================

.navbar {
  @include no-bottom-border;

  // Active links
  .navbar-nav {
    > .active  > a {
      font-weight: 800;
      text-decoration: underline;
    }
  }
}

// Buttons =================================================================

.btn-group-justified {
  .btn {
    border-right-width: 0;

    &:last-child {
      border-right-width: 1px;
    }
  }
}

// Headers =================================================================

h1,
h2,
h3 {
  font-weight: 100;
}
