@import './variables';
@import 'bootstrap';
@import 'bourbon';

// Shared Styles ====================================================================

@mixin no-bottom-border {
  border-bottom-width: 0;
  box-shadow: 0 1px $shadow-medium;
}

// Buttons ====================================================================

.btn {

  @include transition(.25s background-color);
  position: relative;


  &:not(.btn-link) {
    @include no-bottom-border;
  }

  &:active {
    &:not(.btn-link) {
      @include no-bottom-border;

      box-shadow: inset 0 1px 2px $shadow-light;
      top: 1px;
    }
  }
}

.btn-group-justified {
  .btn {
    border-right-width: 0;

    &:last-child {
      border-right-width: 1px;
    }
  }
}

// Tables =================================================================

// .table {
//   th {
//     font-size: $font-size-large;
//   }

//   td {
//     font-size: $font-size-large;
//   }
// }

// Navbar =================================================================

.navbar {
  @include no-bottom-border;

  // Active links
  .navbar-nav {
    > .active  > a {
      font-weight: 800;
      text-decoration: underline;
    }
  }
}

// Dropdowns =================================================================

.dropdown-menu {
  border-radius: 0;
}

.open {
  .dropdown-toggle {
    border-bottom-width: 1px;
  }
}

// Headers =================================================================

h1,
h2,
h3 {
  font-weight: 100;
}
