body {
  > .navbar {
    -webkit-transition: background-color 300ms ease-in;
    transition: background-color 300ms ease-in;
  }
}

@media (min-width: 768px) {
  body {
    > .navbar-transparent {
      background-color: transparent;

      .navbar-nav > .open > a {
        background-color: transparent !important;
      }
    }
  }
}

#home {
  padding-top: 0px;
  .navbar-brand {
    padding: 13.5px 15px 12.5px;
    > img {
      display: inline;
      margin: 0 10px;
      height: 100%;
    }
  }
}

#banner {
  min-height: 300px;
  border-bottom: none;
}

.table-of-contents {
  margin-top: 1em;
}

.page-header-title {
  font-size: 4em;
}

.bs-docs-section {
  margin-top: 6em;

  h1 {
    padding-top: 0px;
  }
}

.bs-component {
  position: relative;

  .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;

    &-dialog {
      width: 90%;
    }
  }

  .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
  }
}

#source-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-weight: bold;
}

.nav-tabs {
  margin-bottom: 15px;
}

.progress {
  margin-bottom: 10px;
}

.section-tout {
  padding: 4em 0 3em;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
  background-color: #eaf1f1;

  .fa {
    margin-right: 0.5em;
  }

  p {
    margin-bottom: 3em;
  }
}

@media (max-width: 767px) {
  #banner {
    margin-bottom: 2em;
    text-align: center
  }
}
